<launch>  

  <group ns="lgn2v1">
    <node name="converter" pkg="lgn2v1" type="lgn2v1-node">
      <remap from="in" to="/smallbot/front" />
      <remap from="dfocus" to="/smallbot/dpantilt" />
    </node>
  </group>
  
  <node name="retinal_view" pkg="image_view" type="image_view">
    <remap from="image" to="/lgn2v1/lgn"/>
  </node>

  <group ns="color_filter">
    <node name="filter" pkg="color_filter" type="color-filter-hsv-node">
      <remap from="in" to="/lgn2v1/lgn" />
    </node>
  </group>

  <group ns="focus">
    <node name="locus" pkg="focus" type="locus.py">
      <remap from="in/compressed" to="/color_filter/filtered/compressed"/>
      <remap from="shift" to="/lgn2v1/convert"/>
    </node>
  </group>

  <node name="focus_view" pkg="image_view" type="image_view">
    <remap from="image" to="/color_filter/filtered"/>
  </node>
  
  
  <group ns="animat">
    <group ns="vision">
      <node name="vision" pkg="animat" type="vision.py">
	<remap from="raw/compressed" to="/smallbot/front/compressed"/>
	<remap from="in/compressed" to="/color_filter/filtered/compressed"/>
	<remap from="focus" to="/smallbot/camerapos"/>
	<remap from="set_focus" to="/smallbot/pantilt"/>
	<remap from="hsv" to="/color_filter/params"/>
      </node>
    </group>
    
    <group ns="physiology">
      <node name="physiology" pkg="animat" type="physiology.py">
      </node>
    </group>
    
    <group ns="embodiment">
      <node name="embodiment" pkg="animat" type="embodiment.py">
	<remap from="cmd_vel" to="/smallbot/cmd_vel"/>
	<remap from="area" to="/world/area"/>
	<remap from="physio" to="/animat/physiology/command"/>
      </node>
    </group>

    <node name="physio" pkg="rqt_plot" type="rqt_plot" args="/animat/physiology/hydration /animat/physiology/glycemia">
    </node>
    
    <node name="animat_teleop" pkg="animat" type="animat_teleop.py" output="screen" launch-prefix="xterm -e">
      <remap from="body" to="/animat/embodiment/command"/>
      <remap from="vision" to="/animat/vision/command"/>
    </node>
    
  </group>
  
  <node name="gaze_view" pkg="image_view" type="image_view">
    <param name="image_transport" value="compressed"/>
    <remap from="image" to="/animat/vision/gaze"/>
  </node>

</launch>
