<launch>  

  <node name="video"    pkg="usb_cam"    type="usb_cam_node" respawn="true">
    <param name="video_device" value="/dev/video0" />
    <param name="pixel_format" value="yuyv" />
  </node>

  <group ns="lgn2v1">
    <node name="converter" pkg="lgn2v1" type="lgn2v1-node">
      <remap from="in" to="/video/image_raw" />
    </node>
  </group>
  

  <group ns="color_filter">
    <node name="filter" pkg="color_filter" type="color-filter-hsv-node">
      <remap from="in" to="/lgn2v1/lgn" />
    </node>
  </group>

  <!-- <group ns="focus">
    <node name="focus" pkg="focus" type="focus-node">
      <remap from="in" to="/color_filter/filtered"/>
      <remap from="shift" to="/lgn2v1/shift"/>
    </node>
  </group> 

  <node name="focus_view" pkg="image_view" type="image_view">
    <remap from="image" to="/focus/out"/>
  </node> -->
  
  <group ns="focus">
    <node name="locus" pkg="focus" type="locus.py">
      <remap from="in/compressed" to="/color_filter/filtered/compressed"/>
      <remap from="shift" to="/lgn2v1/shift"/>
    </node>
  </group>

  <node name="focus_view" pkg="image_view" type="image_view">
    <remap from="image" to="/color_filter/filtered"/>
  </node>
  
  <group ns="animat/vision">
    <node name="vision" pkg="animat" type="vision.py">
      <remap from="raw/compressed" to="/video/image_raw/compressed"/>
      <remap from="in/compressed" to="/color_filter/filtered/compressed"/>
      <remap from="focus" to="/lgn2v1/focus"/>
      <remap from="lookat" to="/lgn2v1/lookat"/>
      <remap from="hsv" to="/color_filter/params"/>-
    </node>
  </group>
  
  <node name="gaze_view" pkg="image_view" type="image_view">
    <param name="image_transport" value="compressed"/>
    <remap from="image" to="/animat/vision/gaze"/>
  </node>
  
  <node name="reconf" pkg="rqt_reconfigure" type="rqt_reconfigure"/>

</launch>
